@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply max-w-full h-auto;
  }
}

@layer utilities {
  .aspect-w-1 {
    position: relative;
    padding-bottom: 100%;
    background: #1f2937;
  }
  
  .aspect-w-1 > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
    object-position: center;
  }
}